# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment files
.env

# IDE
.vscode/
.idea/
.DS_Store
